.headerContainer {
  max-width: 100%;
  height: auto;
  background-color: hsl(208, 60%, 47%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.headerContainer .containerItemSpan {
  flex-grow: 1;
}

.headerContainer .containerItem {
  margin: 0px 10px 0px 10px;
  text-decoration-line: none;
  color: hsl(0, 0%, 100%);
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}

.headerContainer img {
  height: 80px;
}
