.headerContainer {
  max-width: 100%;
  height: auto;
  background-color: hsl(330, 2%, 33%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.headerContainer .containerItemSpan {
  flex-grow: 1;
}

.headerContainer .containerItem {
  margin: 0px 10px 0px 10px;
  text-decoration-line: none;
  color: hsl(0, 0%, 100%);
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}

.headerContainer img {
  height: 80px;
}

.headerContainer button {
  background-color: hsl(180, 1%, 48%);
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  cursor: pointer;
}

.headerContainer button:hover {
  background-color: hsl(330, 2%, 33%);
}
